body {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#PicklockGame {
  top: 0;
  margin-left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  background: transparent;
}

.pop-out {
  position: fixed;
  width: 140%;
  height: 100%;
  text-align: center;
  z-index: 1;
  top: 0;
  left: -20%;
}

.pop-stripe.show {
  opacity: 1;
}

.pop-stripe {
  font-size: 120px;
  color: #ecf0f1;
  margin-top: 160px;
  text-shadow: 2px 2px #2c3e50;
  padding: 30px 0;
  opacity: 0;
  transition: 0.2s opacity;
}

.score {
  position: fixed;
  text-align: center;
  top: 12%;
  width: 100%;
  z-index: 1;
  color: #ecf0f1;
  text-shadow: 2px 2px #2c3e50;
  font-size: 40px;
}

.info {
  position: absolute;
  z-index: 2;
  text-align: right;
  width: 400px;
  bottom: 0;
  right: 0;
  padding: 20px;
  color: #ecf0f1;
  line-height: 1.6em;
  text-shadow: 2px 2px #2c3e50;
}

a:visited {
  color: white;
}